/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {

color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 60px;
  padding-bottom: 30px;
  background: #d8d5c1;
  background: linear-gradient(to bottom,  #d8d5c1 33%,#daba40 59%,#c56e0c 95%);
  background: -webkit-linear-gradient(to bottom,  #d8d5c1 33%,#daba40 59%,#c56e0c 95%);
  background-color: #c56e0c;
  background-repeat: no-repeat;
}

#content {
text-align: center;

}


a.icon_edit
{

width: 24px;
height: 24px;
display:inline-block;
margin: 0;
padding:0;
}
a.icon_delete
{

width: 24px;
height: 24px;
display: inline-block;
margin: 0;
padding: 0;

}

table
{
border-spacing: 0;
margin: 0 auto;
margin-bottom: 20px;

}

tr.head
{
background-color: #496DAB;
}

tr.add
{
background-color: #b3bdc1;
}


a.new_progect_button
{
margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  background:#496DAB;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
	color: black;
  text-decoration: none;
}

a.new_progect_button:hover {
  background:#77ABFF;
  text-decoration: underline;
}
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
